h1{
    color: coral;
}

body{
    background-color: black;
}

h2{
    color: coral;
}

p{
    color: aliceblue;
}

li{
    color: aliceblue;
}

a{
    text-decoration:none;
    color: aqua;
}